@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Medium'), url('./assets/fonts/HelveticaNeue-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Light'), url('./assets/fonts/HelveticaNeue-Light.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica 35 Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 35 Thin'), url('./assets/fonts/HelveticaNeue-Thin.woff') format('woff');
}

.group {
  width: 360px;
  height: 720px;
  background-color: #eee
}

.menu {
  background-color: #fff;
  padding-left: 12px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 11.5px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between
}

.menu-itens {
  width: auto;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  font-family: "Helvetica Neue Medium";
  font-weight: 700;
  font-size: 13px
}

.menu-item1 {
  color: #FF7800
}

.menu-item2 {
  color: #ccc;
  padding-left: 11px;
}

.menu-item3 {
  color: #ccc;
  padding-top: 0px;
  padding-right: 12px;
}

.titProduto {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #999;
  font-family: 'Helvetica Neue Medium';
  font-weight: 700;
  font-size: 14px;
  margin: 12px 21px 0px 20px;
  justify-content: flex-start
}

.produtos {
  width: 341px;
  height: 314px;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 1px 1px 5px 0 rgba(0,0,29,0.22);
  margin: 5px 0px 0px 9px;
  padding: 6px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}

.itemProduto9 {
  box-sizing: border-box;
  width: 316px;
  height: 90px;
  border-radius: 3px;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 0px 0 rgba(0,0,29,0.22);
  margin: 0px 12px 0px 13px;
  display: flex;
  flex-direction: column;
  padding: 10px 12px 20px 12px;
  justify-content: space-between
}

.itemProduto {
  box-sizing: border-box;
  width: 316px;
  height: 90px;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 10px 12px 1px 10px;
  margin: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
}

.imgproduto {
  width: 65px;
  height: 65px;
}

.txtproduto9 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: "Helvetica Neue Light";
  font-size: 13px;
  font-weight: "regular";
  display: flex;
  flex-direction: column;
}

.txtproduto {
  height: 32px;
  width: 220px;
  color: #212122;
  font-family: "Helvetica Neue Light";
  font-size: 12.5px;
  letter-spacing: 0.442px;
  line-height: 16.39px;
  margin: 0px 0px 0px 11px;
  padding: 0px 0px 0px 0px;

}

.vlrproduto {
  width: 220px;
  background-color:'#00ff00';
  margin: 7px 0px 0px 11px;
  padding: 10px 0px 0px 0px;
  color: #212122;
  font-family: "Helvetica Neue Medium";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.44px;
  text-align: right
}

.totais {
  box-sizing: border-box;
  height: 129px;
  width: 341px;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin: 20px 0px 0px 9px;
  display: flex;
  flex-direction: column;
  padding: 8px 13px 20px 13px;
  justify-content: space-between
}

.totprodutos {
  font-family: "Helvetica Neue Light";
  font-size: 13px;
  padding: 4px 0px 2px 0px;
  margin: 2px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.totprodutos9 {
  font-family: "Helvetica Neue Light";
  font-size: 14.5px;
}

.valprodutos {
  font-family: "Helvetica Neue Light";
  font-size: 14px;
  text-align: right;
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
}

.totalfrete {
  margin: 0px 0px 0px 0px;
}

.totaldesconto {
  color: #FF7800;
  margin: 1px 0px 0px 0px;
}

.totaltotal {
  margin: 11px 0px 0px 1px;
}

.totalprodutos {
  margin: 10px 0 2px 0;
  font-family: "Helvetica Neue Medium";
}

.seguir {
  height: 60px;
  width: 341px;
  border-radius: 3px;
  background-color: #FF6C00;
  box-shadow: inset 0 -2px 0 0 #D45A00;
  margin: 21px 0px 0px 10px;

  color: #FFF;
  font-family: "Helvetica Neue Medium";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
}

.App {
  text-align: center;
}
